{
    "extends": "@jyb/eslint-config-jyb",
    "rules": {
        "comma-dangle": "off",
        "no-plusplus": "off",
        "prefer-rest-params": "off",
        "no-console": "off",
        "indent": ["error", 2, { "SwitchCase": 1, "VariableDeclarator": 1, "outerIIFEBody": 1 }]
    },
    "globals": {
        "CONFIG_FILES": true,
        "COMMAND_PREFIX": true,
        "JYB_COMMAND_PREFIX": true
    }
}